body {
    background-image: url("https://images5.alphacoders.com/870/870874.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

container h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: whitesmoke;
    text-shadow: 1px 1px 5px orangered; 
}


/* Button's Properties */
.letter {
    margin: 4px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.active {
    
}

#underscore {
    display: inline;
    padding: 2px;
    font-size: 40px;
    text-align: center;
}