@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body {
    background-image: url("https://images5.alphacoders.com/870/870874.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: whitesmoke;
    text-shadow: 1px 1px 5px orangered; 
}


/* Button's Properties */
.letter {
    margin: 4px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.row {
    margin: 0;
}

.right-col {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: whitesmoke;
    text-shadow: 1px 1px 5px orangered; 
}

.underscore {
    display: inline;
    padding: 2px;
    text-align: center;
    margin: 0 5px 0 5px;
}